@import url("https://rsms.me/inter/inter.css");
.splash-screen-background {
    background: url(img/src_assets_images_Login_PR_Banner_2.56e2880c.png) no-repeat 50%;
    background-position: top
}
.login-pf body {
    background: url('../img/login_banner.png') no-repeat 50%;
    background-position: top;
    height: 100%;
}
.login-pf-page .login-pf-settings .left-link {
    order: -1;
}
.login-pf-page .login-pf-settings .login-pf-options-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;}
header.login-pf-header:before {
    content: url(https://assets.crossref.org/logo/crossref-logo-landscape-200.svg);
    margin: 0px 30%;
}
#kc-header-wrapper {
    visibility: hidden;
}
body { font-family: 'Inter', "Open Sans",Helvetica,Arial,sans-serif; }
@supports (font-variation-settings: normal) {
  body { font-family: 'Inter var',"Open Sans",Helvetica,Arial,sans-serif; }
}

